AddCharset UTF-8 .php .html .xml

RewriteEngine  on
RewriteBase /~chris/framework

RewriteCond    %{REQUEST_FILENAME}  -d
RewriteRule    ^(.+[^/])$           $1/  [R]

RewriteRule ^(.*)$ bootstrap.php [NS,PT]